[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = git@github.com:Granary/googletest.git
[submodule "dependencies/googlemock"]
	path = dependencies/googlemock
	url = git@github.com:Granary/googlemock.git
