[submodule "dependencies/gtest"]
	path = dependencies/gtest
	url = git@github.com:Granary/googletest.git
[submodule "dependencies/gmock"]
	path = dependencies/gmock
	url = git@github.com:Granary/googlemock.git
